.lock-icon {
  background-color: red3;
  padding: 20px;
  border-radius: 100%;
}

.lock-icon-image-invert {
  filter: invert(1);
}

.title-bigger {
	font-size: 2.5rem;
}

.filter-icon {
  padding: 8px;
}

.clear_bg {
	background-color: rgba(0,0,0,0);
}
